<%= form_tag("/check", method: "post") do %>
    <h2>Check a Porker Hand</h2>
    <input name="hand" type="text" value="<%= params[:hand] %>">
    <input type="submit" value="Check!">
    <h3><%= "入力されたカード：#{params[:hand].split(" ")}" %></h3>
    <h2><%= "手役：#{@hand}" %></h2>
<% end %>
